h1 {

    border-radius: 50px;
    text-align: center;
    font-size: 300%;
    font-weight: bold;
}

main {
    margin: auto;
    text-align: center;
    min-width: 800px;
}

div {
    text-align: center;
    margin: auto;
    font-weight: bold;
}

table {
    margin: auto;
    font-size: 15px;
}


form {
    margin: auto;
    padding: 10px;
}


body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.wrapper {
    margin: auto;
    width: 380px;
    text-align: center;
}

.row {
    clear: both;
}

.cell {
    width: 100px;
    height: 100px;
    float: left;
    padding: 10px;
    border-radius: 15px;
    margin: 1px;
}

