
body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial;
    padding-top: 20px;
}
.container {
    width: 406px;
    max-width: 406px;
    margin: 0 auto;
}
a {
    display: block;
    text-align: center;
    width: 125px;
    margin-left: auto;
    margin-right: auto;
}
hr {
    background-color: #000000;
    height: 3px;
    text-align: center;
    width: 90%;
}
